$home-header-height: 70px !default;
$section-height: calc(100vh - 140px) !default;
$home-header-background-color: $white-color !default;
$home-header-text-color: $dark-color !default;
$home-header-secondary-color: tomato !default;

.home-header {
    width: 100%;
    height: $home-header-height;
    padding: 0 5%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: $home-header-background-color;
    box-shadow: 0 5px 5px 5px rgba($dark-color, 0.1);

    h1 {
        margin: 0;
        font-size: 1.5rem;
        flex: 1;
        line-height: $home-header-height;
        text-transform: uppercase;
        display: flex;

        a {
            color: $home-header-text-color;
            text-decoration: none;
            font-weight: bold;
        }

        .toggle {
            display: flex;
            line-height: $home-header-height;
            align-items: center;
            padding: 0 1rem;
            color: $home-header-secondary-color;
        }
    }

    nav ul {
        position: fixed;
        top: 0;
        left: -300px;
        height: 100%;
        width: 300px;
        background-color: $home-header-background-color;
        transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        padding: 0;
        margin: 0;
        list-style-type: none;
        z-index: 100;

        .toggle {
            display: flex;
            width: 100%;
            line-height: $home-header-height;
            height: $home-header-height;
            justify-content: flex-end;
            align-items: center;
            padding: 0 1rem;
            color: $home-header-secondary-color;
            transition: all 300ms ease-in-out;
            -webkit-transition: all 300ms ease-in-out;
            position: relative;
            text-decoration: none;
            margin-bottom: 5px;

            &::before {
                content: "";
                width: 100%;
                height: 5px;
                position: absolute;
                bottom: -5px;
                left: 0;
                background-color: $default-color;
            }

            &::after {
                content: "";
                width: 0;
                height: 5px;
                position: absolute;
                bottom: -5px;
                left: 0;
            }

            &:hover::after {
                transition: all 0.7s ease-in-out;
                -webkit-transition: all 0.7s ease-in-out;
                background-color: $home-header-secondary-color;
                width: 100%;
            }
        }

        li {
            display: flex;
            flex-direction: column;

            a {
                display: block;
                color: $home-header-text-color;
                padding: 0 1rem;
                text-transform: uppercase;
                line-height: $home-header-height;
                text-decoration: none;
            }
        }
    }

    nav ul.show {
        left: 0 !important;
        transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        box-shadow: 0 5px 5px 10px rgba($dark-color, 0.2);
    }
}

.home-container {
    width: 100%;
    min-height: $section-height;
    padding-top: $home-header-height;
    background-color: $home-header-secondary-color;

    .home-section {
        width: 100%;
        min-height: $section-height;
        background-color: $white-color;

        .home-section-wrapper {
            padding: 2rem 5%;
            width: 100%;
            min-height: $section-height;
        }
        .home-section-wrapper.home-section-main.home-contact {
            h4 {
                margin: .75rem 0 .5rem;
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
        .home-section-wrapper.home-section-main {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .col-12 {
                display: flex;
                flex-direction: column;
                justify-content: center;

                h1 {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 3rem;
                }

                p {
                    font-size: 1.5rem;
                }

                img {
                    max-width: 70%;
                    margin: 0 auto;
                }
            }
        }
    }
}

.home-footer {
    width: 100%;
    height: $home-header-height;
    padding: 0 5%;
    display: flex;
    background-color: $home-header-background-color;

    p {
        margin: 0;
        padding: 0;
        flex: 1;
        line-height: $home-header-height;
        color: $home-header-text-color;
    }
}

.notfound-container {
    background-color: $dark-color;
    color: $white-color;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 5%;

    .notfound-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 600px;
        max-width: 100%;
        text-align: center;

        h1 {
            font-size: 1.5rem;

            @media screen and (min-width: 760px) {
                font-size: 3rem;
            }
        }

        img {
            width: 70%;
            margin-bottom: 2rem;
        }
    }
}
